<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <base href="{{ base }}">

    <title>Movie Magic</title>

    <link href="css/main.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/movies">MovieMagic</a>
        </div>
      </div>
    </nav>

    <div id="alerts"></div>

    <div class="container-fluid theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Movie Recommendations</h1>
        <p>Search for a movie and select it to get a recommendation for your next movie night.</p>
      </div>

      <div class="page-header">
        <h1>Movie List</h1>
      </div>
      <div class="container-fluid">
      <ul class="list-group restaurant-list no-gutter">
        {% block content %}
        {% set i = 0 %}
        {% for DVDid, DVDid in movies.iteritems() %}
        {% if i == 0 %}
        <div class = "row">
        {% elif i % 3 == 0 %}
        </div>
        <div class = "row">
        {% endif %}
        <li class="list-group-item restaurant-list-item col-md-4">
          <a href="/movies">
            <h4 class="list-group-item-heading">
              {{info[DVDid][0]}}
            </h4>
            <p class="list-group-item-text"><b>Studio: </b>{{ info[DVDid][1] }}</p>
            <p class="list-group-item-text"><b>Genre: </b>{{ info[DVDid][6] }}</p>
            <p class="list-group-item-text"><b>Price: </b>{{ info[DVDid][3] }}</p>
            <p class="list-group-item-text"><b>Status: </b>{{ info[DVDid][2] }}</p>

          </a>
          <div class="list-group category-sublist"></div>
        </li>
        {% set i = i + 1 %}
        {% endfor %}
        {% endblock %}
      </ul>
      </div>
    </div> <!-- /container-fluid -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/movies.js"></script>
  </body>
</html>
